.firstLoading{
    display: flex;
    position: absolute;
    inset: 0;
    justify-content: center;
    align-items: center;


}
.firstLoading :nth-child(1){
    background-color: #0000009c;
    filter: blur(4px);
    position: absolute;
    inset: 0;
}
.firstLoading :nth-child(2){
    color: var(--light-green);
    z-index: 2;
    font-size: 64px;
}