.bold12{
    font-size: 12px;
    font-weight: 700;
}
.bold14{
    font-size: 14px;
    font-weight: 700;
}
.medium16{
    font-size: 16px;
    font-weight: 500;    
}
.medium18{
    font-size: 18px;
    font-weight: 500;    
}
.regular14{
    font-size: 14px;
    font-weight: 400;    
}
.regular18{
    font-size: 18px;
    font-weight: 400;    
}
.bold20{
    font-size: 20px;
    font-weight: 700;
}
.extraBold22{
    font-size: 22px;
    font-weight: 800;
}
