.hizmetlerimiz{
    display: flex;
    padding: 12px 12px 24px 12px;
    flex-direction: column;
    gap: 18px;
}
.hizmetlerimiz h2{
    color: var(--dark-gray);
    text-align: center;    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hizmetlerimiz h2::after{
    width: 50px;
}
.hizmetler{
    color:var(--dark-gray)
}
.hizmetler > div{
    border-radius: 6px;
    background: linear-gradient(180deg, #E8F8FF 0%, rgba(255, 255, 255, 0.00) 100%);
    display: flex;
    padding: 12px;
    flex-direction: column;
    gap: 18px;    
}
.iconsRow{
    display: flex;
    justify-content: center;
}
.iconsRow button{
    border-radius: 12px;
    background: var(--orange);
    display: flex;
    padding: 4px 12px;
    justify-content: space-evenly;
    gap: 12px;
    flex: 0 0 102px;
}
.iconsRowCol{
    display: flex;
    flex: 1;
    justify-content: center;
}
.flexEnd{
    justify-content: flex-end;
}
