@font-face { 
    font-family: "Inter";
    font-weight: 100 900;
    font-style: normal;
    font-display: fallback;
    src: url('/Inter.woff2') format('woff2');
}
:root {
    --gray: #ddd;
    --dark-gray: #383838;
    --green: #008806;
    --light-green:#00ca09;
    --white: #FFFFFF;
    --orange: #EC932D;
    --darker-gray: #2E2E2E;
    --navy-blue: #1E2F68;
    --light-blue: #E8F8FF;
    --very-dark-gray: #242424;
    --slate-blue: #29333F;
    --max-width: 1024px;
}
body{
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
    width: 100%;
}
main{
    flex: 1;
}
a{
    text-decoration: none;
}
button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

html,button,input,select,textarea{
    font-family:unset;
}
ul,h1,h2,h3,p{
  padding: 0;  
  margin: 0;
}
ul,li{
    display: flex;
}
div,span, div::before, span::before, div::after, span::after, a::before, h1::after, p::before{
    background-repeat: no-repeat;
    background-position: center;
}
h1{
    font-size: 24px !important;
}
h2{
    font-size: 20px !important;
}
h3{
    font-size: 18px !important;
}

@media (min-width:600px){
    main{
        background-color: var(--gray);
    }
    html{
        display: flex;
        justify-content: center;
    }
}