.banner{
    background-color: var(--navy-blue);
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 20px;
    color: var(--white);
}
.banner h1 span{
    color: var(--orange);
}
.bannerImageWrapper img{
    width: 100%;
    height: auto;
    filter: drop-shadow(2px 4px 6px #0000008a);
    z-index: 1;
}
.bannerImageWrapper{
    display: flex;
    object-fit: cover;
}
