.footer{
    color: var(--white);
    background-color: var(--slate-blue);
    display: flex;

}
.wrapper{
    display: flex;
    flex-direction: column;
    padding: 24px 18px;
    gap: 22px;
    max-width: var(--max-width);
}
.first, .second{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.wrapper ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.wrapper img{
    width: 24px;
    height: 24px;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contact div:nth-child(1){
    display: flex;
    gap: 5px;
    align-items: center;
}
.contact div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contact div:nth-child(2) a{
    color: var(--white);
    display: flex;
    gap: 8px;
    align-items: center;
}
.contact div:nth-child(2) a::before{
    content: '';
    display: flex;
    width: 26px;
    height: 26px;
}
.location::before{
    background-image: url('/location.svg');
}
.phone::before{
    background-image: url('/phonebox.svg');
}
.email::before{
    background-image: url('/mailbox.svg');
}
.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.bottom a{
    color: var(--white);
    padding: 8px;
}

@media (min-width:600px){
    .footer{
        justify-content: center;
    }
    .wrapper{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .first{
        max-width: 280px;
    }

    .bottom{
        width: 100%;
    }
    .contact{
        margin-left: auto;
    }
}